body{
    height: 100vh;
    width: 100vw;
}
body.modal-open {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#contenedor {
    text-align: center;
    margin-top: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#boton {
   
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border: 2px solid #888;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

#boton.hidden {
    display: none;
}

#boton.visible {
    display: block;
}

#boton-content {
    animation: fadeIn 0.3s ease;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue ;
    color: white;
}

.confirmacion {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}
