.menu{
    background-color: #1e293b;
    padding: 12px 14px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center ;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.menu-link{
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.menu-link.active{
    color: #39bdf8;
    text-decoration: underline;
}
