.App{
  max-width: 860px;
  margin: 0 auto;
}

button {
  background: none;
  padding: 6px 12px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 1em; 
}

.grid-cartas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}