* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1e2019;
  color: #d3d0cb;
  text-align: center;
}

header {
  height: 15vh;
  background-color: #d3d0cb;
  color: #1e2019;
  text-align: center;
  display: block;
  align-items: center;
  
}

header #logo {
  margin-top: 5px;
  height: 5em;
  width: 7em;
}

header nav {
  margin-top: 5px;
}

header a {
  color: #1e2019;
  margin: 0 10px;
  text-decoration: none;
  
}

header a:hover {
  font-weight: bold;
  text-decoration: underline;
}

main {
  display: inline;
  height: 85vh;
  margin: 0 auto;
  
}

main h1 {
  margin: 20px;
  font-size: 1.8em;
  text-align: center;
}

main form {
  color: #d3d0cb;
  padding-top: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px ;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

main form p {
  margin-bottom: 10px;
}
hr {
  width: 100%;
  margin: 0 auto;border: solid #d3d0cb
}


.red {
  color: red;
}

form input[type="text"], form input[type="email"], form textarea {
  color: #1e2019;
  border: 1px solid ;
  border-radius: 4px;
  padding: 8px;
  width:  50%;
  margin-top: 5px;
  align-items: center;
  outline: none;
}
form input[type="text"]:focus, form input[type="email"]:focus,form textarea:focus{
  box-shadow: 1px 1px 2px 2px #E2C044;
} 

form textarea {
  resize: none;
  height: 100px;
}

input[type="radio"] {
  margin-right: 5px;

}

input[type="checkbox"] {
  margin-right: 10px;
}

form input[type="submit"] {
  background-color: #E2C044;
  color: #1e2019;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 10px;
  
}

form input[type="submit"]:hover {
  background-color: #d3a53b;
}

hr {
  border: 1px solid #d3d0cb;
  margin: 20px 0;
}

h3 {
  margin-top: 10px;
  text-align: center;
  color: #d3d0cb;
}

a {
  color:#d3d0cb;
  text-decoration: underline;
}

.consent {
  background-color: #1e2019;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  font-size: 0.9em;
}





