:root{
    --color_primario: #ee6611;
    --color_secundario: #020024;
    --color_fondo: #fafafa;
    --color_texto: #050505;
    --accent_color: #0010c2;
}

@font-face {
    font-family: "inter";
    src: url(https://fonts.google.com/specimen/Inter);
}

@font-face {
    font-family: "poppins";
    src: url(https://fonts.google.com/specimen/Poppins);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
    
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
}

h1, h2, h3 {
    font-family: "poppins", sans-serif;
    text-align: center;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: disc;
    margin-left: 20px; /* Optional: Adds some indentation to the list items */
}

main h2{
    font-size: 1.7em;
    text-align: center;
}

main p{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   font-size: 1.2em;
   text-align: center;
   padding: 10px;               
}    

main img{
    max-width: 100vh;
    height: auto;
    margin-top: 20px;
    
}



        