/* Reset básico */
:root{
--color_primario: #ee6611;
--color_secundario: #020024;
--color_fondo: #fafafa;
--color_texto: #050505;
--accent_color: #0010c2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color_texto);
  background-color: var(--color_fondo);
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--accent_color);
  color: var(--color_fondo);
  width: 100%;
}

header img {
  width: 5em;
}
header nav {
  display: inline;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

}
nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ddd;
}

.login-button {
  background-color: var(--color_primario);
  color: var(--color_fondo);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  text-align: right;
}
.login-button:hover {
  background-color: #ee5511;
}

/* Sección de noticias de la NBA */
main {
  text-align: center;
}
.nba-news {
  padding: 20px;
}

.nba-news h1 {
  font-size: 32px;
  margin-bottom: 5px;
  text-align: center;
  color: #222;
}

.nba-news p {
  margin-bottom: 30px;
  color: #555;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.Autor {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
  font-style: italic;
  text-align: left;
}
main img {
  width: 200px ;
  height: auto;
  display: block;
  margin: 0 auto;
}

article {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  margin-bottom: 15px;
}

article h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

article p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-content .logo {
  font-size: 18px;
  font-weight: bold;
}

footer nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer nav a:hover {
  color: #ddd;
}

.social-links a {
  color: #fff;
  margin: 0 5px;
  font-size: 18px;
}

.social-links a:hover {
  color: #007bff;
}

footer p {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}
