:root{
    --color1: #f7f7f7 ;
    --color2: #333;
    --color3: #575757;
    --color4: #ebebeb;
    --color5: #549f93;
    --color6: #549f9322;
}
@font-face {
    font-family: 'Comfortaa' ;
    src: url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    text-align: center;
    list-style: none;
}

header, footer{
    background-color: var(--color5);
    color: var(--color1);
    width: 100%;
    position: sticky;
}

header{
    top:0;
}
header h1{
    padding: 10px;
}
header nav{
    background-color: #333;
    padding: 10px;
}

header nav a{
    color: var(--color4);
    text-decoration: none;
}

header nav ul li{
    display: inline;
    padding: 10px;
}

header nav ul li:hover{
    background-color: var(--color3);
    border-radius: 10px;
}

main{
    background-color: var(--color1);
    width: 100%;
    margin-top: 10px;
}
section {
    margin: 0 auto;
    background-color: var(--color4);
    color: var(--color3);
    width: 95%;
    margin-bottom: 10px;
}
section, section img{
    border: 1px solid var(--color2);
    border-radius: 10px;
}
section:first-child{
    background-color: var(--color6);
}

section img{
    padding: 10px; 
    margin-top: 5px;
    background-color: var(--color1);
    border-radius: 10px;
}

section h2, section p{
    padding: 5px;
}

section p:nth-of-type(2){
    text-align: left;
}

section h2{
    color: var(--color5);
}

footer{
    bottom: 0;
    padding: 10px;
}