.App{
  max-width: 860px;
  margin: 40px auto;
}

button{
  background: none;
  border: 2px solid var(--anti-flash-white);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--anti-flash-white);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover{
  background: var(--orange);
  color: var(--dark_blue);
}

.grid-carta{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}