@font-face {
  font-family: Fira Code;
  src: url(../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Fira Code;
}

body {
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
  height: 100vh;
  width: 100vw;
}

body header {
  padding: 10px;
}

body header h1 {
  font-size: 1.5rem;
}

body main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body main section {
  padding: 5px;
}

body main section h2 {
  font-size: 1.1rem;
}

body main section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

body main section ul li {
  padding: 5px;
  border: 1px solid #333;
}

body main section ul li:hover {
  background-color: #ff6347;
  box-shadow: 1px 1px 1px #333;
}

body main button {
  background-color: #333;
  color: #f0f0f0;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}

body main button:hover {
  background-color: #ff6347;
  box-shadow: 2px 2px 2px #333;
}

body footer {
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.3);
  text-align: center;
}
