*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    width: 100%;
}
div{
    padding: 10px;
}
div:first-child {
    position: relative;
    top:0;
    width: 100%;
    background-color: aquamarine;
    z-index: 1;
 }

div:nth-of-type(2){
    position: absolute;
    background-color: lightcoral;
    top: 100vh;  
    width: 100%;
}

div:nth-of-type(3){
    position: absolute;
    background-color: lightgreen;
    left: 0;
    top: 0px;
    writing-mode: vertical-rl;
    height: 100vh;
    z-index: 2;
}

div:nth-of-type(4){
    position: absolute;
    background-color: yellow;
    left: 100%;
    top:0;
    transform: translateX(-100%);
    writing-mode: vertical-rl;
    height: 100vh;
    z-index: 2;
}

#menu{ 
    height: 100vh;
    width: 100%;
}

#menu div{
    background-color: gray;
    top: 30vh;
    position: sticky;
    z-index: 1;
}
.containers{
    position: relative;
    border: 1px solid grey;
    height: 250px;
    width: 350px;
    margin: 20px auto;
    background-color: antiquewhite;
}
.containers article{
    position: absolute;
    top: 35px;
    left: 20px;
    height: 100px;
    width: 150px;
    transform: translateX(-50%);
    transform: translateY(-25%);
    margin: 0 auto;
    vertical-align: middle;
    padding: 15px;
}

.containers .one{
    top: 30px;
    left: 20px;
    background-color: #a52a2a33;
}
.containers .two{
    top: 50px;
    left: 40px;
    background-color: #20683833;
    
   
}

.containers .three{
    top: 70px;
    left: 60px;
    background-color: #36206833;
    
    
}

.centered-container{
    height: 300px;
    background-color: lightgrey;
    position: relative;
}

div.centered-content{
    top: 50%;
    left: 50%;
    background-color: lightgoldenrodyellow;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
}