@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #242333;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

h1{
    margin-bottom: 20px;
}

.ver-estadisticas{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4C4B63;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.ver-estadisticas:hover{
    background-color: #6b6a82;
    transform: scale(1.1);
}

#cerrar-estadisticas{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #dd0a0a;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
.estadisticas{
    margin-top: 20px;
    text-align: center;
    display: none;
    position: fixed;
    width: calc(100vw - 20px);
    height: calc(100vh - 30px);
    margin: 15px 10px;
    top: 0;
    left: 0;
    background-color: #6b6a82;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: .8em;

}

.partidas{
    display: flex;
    align-items: center;
    text-wrap: wrap;
}

.partidas span{
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 500px;
}
.introduccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.introduccion p{
    max-width: 600px;
    text-align: center;
}

.contenedor-juego{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.letras{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 5px;
}   

.fila{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.letra{
    background-color: #4C4B63;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.letra:hover{
    background-color: #6b6a82;
    transform: scale(1.2);
}

.letra.erronea{
    background-color: #dd0a0a;
    cursor: not-allowed;
}

.letra.acertada{
    background-color: #0add5a;
    cursor: not-allowed;
}

.ahorcado{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
    text-align: center;
    gap: 10px;
}
.palabra{
    font-size: 4em;
   
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    position: relative;
}

.iniciar-juego{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #0add5a;
    color: #fff;
    cursor: pointer;
}

.iniciar-juego:hover{
    background-color: #28e070;
    transform: scale(1.1);
}

#nombre-usuario{
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: calc(100% + 30%);
}

#nombre-usuario:focus{
    transform: scale(1.1);
}

.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categoria{
    font-size: 1.2em;
    margin-bottom: 10px;
    border-radius: .5em;
    background-color: #4C4B63;
    color: #fff;
}

.adivinar-palabra{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4C4B63;
    color: #fff;
    cursor: pointer;
}

.adivinar-palabra:hover{
    background-color: #6b6a82;
    transform: scale(1.1);
}

.reiniciar-juego{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #0add5a;
    color: #fff;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mensaje{
    text-align: center;
}



