.evento-nuevo-form label,
.evento-nuevo-form input{
    display: block;
    margin: 10px auto;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
}