.tarjeta{
    border: 1px solid #eee;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto;
    max-width: 400px;
}

.tarjeta button{
    background-color: #555;
}